本章讨论Python的内置功能，这些功能本书会用到很多。虽然扩展库，比如pandas和Numpy，使处理大数据集很方便，但它们是和Python的内置数据处理工具一同使用的。

我们会从Python最基础的数据结构开始：元组、列表、字典和集合。然后会讨论创建你自己的、可重复使用的Python函数。最后，会学习Python的文件对象，以及如何与本地硬盘交互。

### 3.1 数据结构和序列
#### 元组
元组是一个固定长度，不可改变的Python序列对象。创建元组的最简单方式，是用逗号分隔一列值：

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

当用复杂表达式定义元组，最好将值放到圆括号内，如下所示：

In [3]:
nested_tup = ((4, 5, 6), (7, 8))
nested_tup

((4, 5, 6), (7, 8))

用 tuple 可以将任意序列或迭代器转换成元组：

In [4]:
tuple([4, 0, 2]), tuple('string')

((4, 0, 2), ('s', 't', 'r', 'i', 'n', 'g'))

可以用方括号访问元组中的元素。和C、C++、JAVA等语言一样，序列是从0开始的：

In [5]:
tup[0]

4

元组中存储的对象可能是可变对象。一旦创建了元组，元组中的对象就不能修改了：

In [6]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

如果元组中的某个对象是可变的，比如列表，可以在原位进行修改：

In [8]:
tup[1].append(3)
tup

('foo', [1, 2, 3, 3], True)

可以使用加法运算符将元组串联起来

元组不可修改，指的是元组中元素的内存地址不可修改。如果元组的元素是可变对象——列表、字典，修改可变对象的值不会使可变对象的内存地址改变。因此元组中的列表、字典的值可以被修改。

In [46]:
list1 = [1,2,3,4]
list2 = list1
id(list1) == id(list2)

True

In [50]:
tup = (list1, 2, 'foo')
id(tup[0])

140325507671936

In [57]:
id(list1)

140325507671936

In [71]:
list3=[]

list4 = list3
id(list3),id(list4)

(140325152218496, 140325152218496)

In [76]:
list1 = list4
id(list1)

140325152218496

In [77]:
id(tup[0])

140325507671936

In [87]:
class Cat:
    def __init__(self):
        print("这是一个初始化方法")
        #self.属性名 =属性的初始值
        self.name="Tom"
#使用类名()创建对象的时候，会自动调用初始化方法__init__
tom =Cat()
print(tom.name)
tom.nam1111 = "TOM"
tom.nam1111

这是一个初始化方法
Tom

'TOM'

对象是盒子，属性是数据  
给对象增加属性

在python中，要给对象设置属性非常的容易，但是不推荐使用，因为对象属性的封装应该封装在类的内部 只需要在类的外部的代码中直接通过 `.`来设置一个属性即可。

In [86]:
class Cat:
    def __init__(self):
        print("这是一个初始化方法")
        #self.属性名 =属性的初始值
        self.__name="Tom"
    def name(self):
        print(self.__name)
#使用类名()创建对象的时候，会自动调用初始化方法__init__
tom =Cat()
tom.name()
tom.__name="tom"
tom.name()
tom.__name

这是一个初始化方法
Tom
Tom

'tom'